@charset "UTF-8";

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
    margin:0;
    padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, menu { display:block; }
audio:not([controls]) {
    display:none;
    height:0;
}
[hidden] { display:none; }
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img { border:none; }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
ul, ol, menu { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    font-size:100%;
    font-weight:normal;
}
q:before, q:after { content:''; }
abbr, acronym {
    border:none;
    font-variant:normal;
}
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}
legend { color:#000; }
a img, map a { border:none; }
a:hover, a:active, a:focus { outline:0; }
embed { width:100%; }
audio, canvas, video { display:inline-block; }
audio:not([controls]) {
    display:none;
    height:0;
}
img, object, embed {
    max-width:100%;
    height:auto;
}
object, embed { height:100%; }
img {
    -ms-interpolation-mode:bicubic;
}
form img, input, select { vertical-align:middle; }
.f-left { float:left; }
.f-right { float:right; }
.clearfix { zoom:1; }
.clearfix:after {
    display:block;
    clear:both;
    content:"";
}
.clear { clear:both !important; }
.hover:hover {
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.v-top {vertical-align: top;}
.v-middle {vertical-align: middle;}
.mt0, .mv0, .ma0 { margin-top:    0 !important; }
.mr0, .mh0, .ma0 { margin-right:  0 !important; }
.mb0, .mv0, .ma0 { margin-bottom: 0 !important; }
.ml0, .mh0, .ma0 { margin-left:   0 !important; }
.pt0, .pv0, .pa0 { padding-top:   0 !important; }
.pr0, .ph0, .pa0 { padding-right: 0 !important; }
.pb0, .pv0, .pa0 { padding-bottom:0 !important; }
.pl0, .ph0, .pa0 { padding-left:  0 !important; }
.mt5, .mv5, .ma5 { margin-top:    5px !important; }
.mr5, .mh5, .ma5 { margin-right:  5px !important; }
.mb5, .mv5, .ma5 { margin-bottom: 5px !important; }
.ml5, .mh5, .ma5 { margin-left:   5px !important; }
.pt5, .pv5, .pa5 { padding-top:   5px !important; }
.pr5, .ph5, .pa5 { padding-right: 5px !important; }
.pb5, .pv5, .pa5 { padding-bottom:5px !important; }
.pl5, .ph5, .pa5 { padding-left:  5px !important; }
.mt10, .mv10, .ma10 { margin-top:    10px !important; }
.mr10, .mh10, .ma10 { margin-right:  10px !important; }
.mb10, .mv10, .ma10 { margin-bottom: 10px !important; }
.ml10, .mh10, .ma10 { margin-left:   10px !important; }
.pt10, .pv10, .pa10 { padding-top:   10px !important; }
.pr10, .ph10, .pa10 { padding-right: 10px !important; }
.pb10, .pv10, .pa10 { padding-bottom:10px !important; }
.pl10, .ph10, .pa10 { padding-left:  10px !important; }
.mt20, .mv20, .ma20 { margin-top:    20px !important; }
.mr20, .mh20, .ma20 { margin-right:  20px !important; }
.mb20, .mv20, .ma20 { margin-bottom: 20px !important; }
.ml20, .mh20, .ma20 { margin-left:   20px !important; }
.pt20, .pv20, .pa20 { padding-top:   20px !important; }
.pr20, .ph20, .pa20 { padding-right: 20px !important; }
.pb20, .pv20, .pa20 { padding-bottom:20px !important; }
.pl20, .ph20, .pa20 { padding-left:  20px !important; }
.mt30, .mv30, .ma30 { margin-top:    30px !important; }
.mr30, .mh30, .ma30 { margin-right:  30px !important; }
.mb30, .mv30, .ma30 { margin-bottom: 30px !important; }
.ml30, .mh30, .ma30 { margin-left:   30px !important; }
.pt30, .pv30, .pa30 { padding-top:   30px !important; }
.pr30, .ph30, .pa30 { padding-right: 30px !important; }
.pb30, .pv30, .pa30 { padding-bottom:30px !important; }
.pl30, .ph30, .pa30 { padding-left:  30px !important; }
.mt40, .mv40, .ma40 { margin-top:    40px !important; }
.mr40, .mh40, .ma40 { margin-right:  40px !important; }
.mb40, .mv40, .ma40 { margin-bottom: 40px !important; }
.ml40, .mh40, .ma40 { margin-left:   40px !important; }
.pt40, .pv40, .pa40 { padding-top:   40px !important; }
.pr40, .ph40, .pa40 { padding-right: 40px !important; }
.pb40, .pv40, .pa40 { padding-bottom:40px !important; }
.pl40, .ph40, .pa40 { padding-left:  40px !important; }
strong, .bold { font-weight:bold; }
.italic { font-style:italic; }
.f10 { font-size:10px; }
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f15 { font-size:15px; }
.f16 { font-size:16px; }
.f17 { font-size:17px; }
.f18 { font-size:18px; }
.f19 { font-size:19px; }
.f20 { font-size:20px; }
.f21 { font-size:21px; }
.f22 { font-size:22px; }
.f23 { font-size:23px; }
.f24 { font-size:24px; }
.f25 { font-size:25px; }
.f26 { font-size:26px; }
.a-center { text-align:center !important; }
.a-left { text-align:left !important; }
.a-right { text-align:right !important; }
/* Form Elements */
input, select, textarea, button {
    font: 12px/15px Arial, Helvetica, sans-serif;
    outline: none;
    vertical-align: middle;
    color: #2f2f2f;
}
input.input-text, select, textarea {
    background: #fff;
    border: 1px solid #b6b6b6;
}
input.input-text, textarea {
    padding: 2px;
}
select {
    padding: 1px;
    display: none !important;
}
select option {
    padding-right: 10px;
}
select.multiselect option {
    border-bottom: 1px solid #b6b6b6;
    padding: 2px 5px;
}
select.multiselect option:last-child {
    border-bottom: 0;
}
textarea {
    overflow: auto;
}

input.radio {
    margin-right: 3px;
}

input.checkbox {
    margin-right: 3px;
}

input.qty {
    width: 2.5em !important;
}
button.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/* FF Fix */
button.button {
    -webkit-border-fit: lines;
    outline: none;
}
/* <- Safari & Google Chrome Fix */
button.button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}
button.button span {
    display: block;
    height: 36px;
    border: 0;
    background: #535451;
    padding: 0 15px;
    font: 12px/36px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
}
button.button:hover span {
    background: #2f3538;
}
button.button span span {
    border: 0;
    padding: 0;
}
button.disabled span {
    border-color: #bbb !important;
    background: #bbb !important;
}
/* Class: std - styles for admin-controlled content */
.std .subtitle {
    padding: 0;
}

.std ol.ol {
    list-style: decimal outside;
    padding-left: 1.5em;
}
.std ul.disc {
    list-style: disc outside;
    padding-left: 18px;
    margin: 0 0 10px;
}
.std dl dt {
    font-weight: bold;
}
.std dl dd {
    margin: 0 0 10px;
}
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote {
    margin: 0 0 1em;
    padding: 0;
}
.std ul {
    list-style: disc outside;
}
.std ol {
    list-style: decimal outside;
    padding-left: 1.5em;
}
.std ul ul {
    list-style-type: circle;
}
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul {
    margin: .5em 0;
}
.std dt {
    font-weight: bold;
}
.std dd {
    padding: 0 0 0 1.5em;
}
.std blockquote {
    font-style: italic;
    padding: 0 0 0 1.5em;
}
.std address {
    font-style: normal;
}
.std b,
.std strong {
    font-weight: bold;
}
.std i,
.std em {
    font-style: italic;
}
.form-list li {
    margin: 15px 0;
    list-style: none;
}
.form-list li:after{
    content: "";
    clear: both;
    display: block;
}
.form-list label {
    float: left;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
.form-list label.required em {
    float: right;
    font-style: normal;
    color: #eb340a;
    position: absolute;
    top: 0;
    right: -8px;
}
.form-list li.control label {
    float: none;
}
.form-list li.control input.radio,
.form-list li.control input.checkbox {
    margin-right: 6px;
}
.form-list li.control .input-box {
    clear: none;
    display: inline;
    width: auto;
}
.form-list .input-box {
    display: block;
    clear: both;
    width: 100%;
}
.form-list .field {
    float: left;
    width: 48%;
}
.form-list input.input-text {
    width: 60%;
    padding: 10px 4%;
    border: 1px solid #ccc;
    background: none;
    color: #595959;
}
.form-list textarea {
    width: 254px;
    height: 10em;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: none;
    color: #595959;
}
.form-list select {
    width: 260px;
}
.form-list li.wide .input-box {
    width: 100%;
}
.form-list li.wide input.input-text {
    width: 100%;
    padding: 10px 2%;
}
.form-list li.wide textarea {
    width: 100%;
}
.form-list li.wide select {
    width: 535px;
}
.form-list li.additional-row {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 7px;
}
.form-list li.additional-row .btn-remove {
    float: right;
    margin: 5px 0 0;
}
.form-list .input-range input.input-text {
    width: 74px;
}
.form-list li.form-button {
    float: right;
}
.form-list li.required {
    clear: both;
}
.row {
    clear: both;
    font: 13px Verdana;
}
.row p{margin-bottom: 10px;}
.row .row-header {
    float: left;
    width: 65px;
    color: #5d5a55;
    text-decoration: underline;
}
.row .row-info {
    float: left;
    color: #6d6c67;
}
.webforms-fields-comment{
    float:left;
    margin-top:4px; 
    line-height:1.3em; 
    color:#666;
    font-size:.9em;
    width:100%;
}
.webforms-fields-hint{
    font-style: italic;
    opacity: 0.5;
}
.list-select {
    padding: 10px !important;
}
.btn-remove {
    display: block;
    width: 11px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    background: url(../images/common/close2.png) center no-repeat;
    text-indent: -999em;
    overflow: hidden;
}
.btn-remove2{
    width: 27px;
    height: 27px;
}
.btn-remove2:hover{
    background-color: #ccc;
}
.messages,
.messages ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.messages {
    width: 100%;
    overflow: hidden;
}
.messages li {
    margin: 0 0 10px !important;
}
.messages li li {
    margin: 0 0 3px !important;
}
.error-msg,
.success-msg,
.note-msg,
.notice-msg {
    border-style: solid !important;
    border-width: 1px !important;
    background-position: 15px 15px !important;
    background-repeat: no-repeat !important;
    min-height: 24px !important;
    padding: 25px 15px 16px 64px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    text-transform: uppercase;
}
.error-msg {
    border-color: #f7d0d0;
    background-color: #f8dede;
    background-image: url(../images/common/i_msg-error.png);
    color: #e49191;
}
.success-msg {
    border-color: #cbf3cb;
    background-color: #def8de;
    background-image: url(../images/common/i_msg-success.png);
    color: #98e298;
}
.note-msg,
.notice-msg {
    border-color: #edd9bb;
    background-color: #f3e4cd;
    background-image: url(../images/common/i_msg-note.png);
    color: #eda72e;
}