/*------------------------------------------------------------------
[Table of contents]
1.  Styles for devices max 1200px
2.  
3.  
4.  
5.  
6.  
7.  
8.  
9.  
10. 

------------------------*/

/*----------------
[Styles for devices min 1200px
*/
@media only screen and (min-width: 1025px) {}

@media only screen and (max-height: 800px) and (min-width: 1025px) {}

@media only screen and (min-height: 801px) and (min-width: 1025px) {}

@media only screen and (min-width: 1366px) {
  .container {
    width: 920px;
  }
}

/*@media only screen and (min-width: 1200px) {
  .container {
    width: 750px;
  }
}*/

@media only screen and (max-width: 1024px) {

  .pageChild .main-container {
    padding-bottom: 15px;
  }

  .header-mobile {
    display: block;
  }

  .header .header-sidebar {
    left: -100%;
    width: 300px;
    top: 60px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header .header-sidebar.has-open {
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .home .header .header-sidebar {
    background: #fff;
    top: 60px;
  }

  .header-sidebar.has-open .iconClose-sidebar {
    display: block;
  }

  .main-container {
    margin-left: 0;
    padding: 0;
  }

  .fullscreen-container {
    position: relative;
  }

  .more_info {
    display: none;  
  }

  .header-mobile {
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px;
  }

  .show-menu {
    font-size: 20px;
    float: left;
    width: 10%
  }

  .show-menu.has-open:before {
    content: "";
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .header-mobile .logo {
    float: left;
    width: 80%;
  }
  .header-mobile .logo img {
    margin: 0 auto;
  }

  .block-adside {
    float: right;
    width: 10%;
    text-align: right;
  }
  .block-adside a {
    display: inline-block;
    position: relative;
    margin-right: 15px;
  }
  .block-adside a:last-child {
    margin-right: 0;
  }

  .block-adside .circle {
    top: -7px;
  }

  .products .slide-product .owl-dots {
    display: block;
  }

  /*.ban-ner {
    margin-right: -15px;
    margin-left: -15px;
  }*/

  .footer {
    border-top: none;
    margin-top: 50px;
  }

  .menuAllsp {
    display: block;
  }

  .page-footer-links {
    display: none;
  }

  .block-address-mb .social-icons {
    position: relative;
    bottom: 0;
  }

  .header .header-sidebar:after {
    display: none;
  }

  .header .logo {
    display: none;
  }

  #search_mini_form {
    display: none;
  }

  .box-scroll {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .special_menu {
    margin-top: 15px;
  }
  .social-iconsdk {
    display: none;
  }

  .header .block-address-mb,
  .block-addmb,
  .special_menu_mb,
  .header .newsletter-form,
  .block-address-mb,
  .block-menumb-fixed {
    display: block;
  }

  .sale-product-icon {
    top: 30px;
  }

  .icon-grid {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    width: auto;
  }
}

@media (max-width: 767px) {
  .sidebar {
    margin-top: 30px;
  }
}

@media (max-width: 667px) {
  .show-menu,
  .block-adside {
    width: 20%;
  }

  .header-mobile .logo {
    width: 60%;
  }
}

@media (max-width: 414px) {
  .page-footer-newsletter .newsletter-input-container {
    width: 250px;
  }

  .block-menumb-fixed .block-title {
    display: block;
  }

  .block-menumb-fixed ul {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .block-menumb-fixed ul.active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .block-menumb-fixed ul li {
    display: block;
  }
}

@media (max-width: 375px) {
  .show-menu,
  .block-adside {
    width: 25%;
  }

  .header-mobile .logo {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .page-footer-newsletter .newsletter-input-container {
    width: 155px;
  }
}