/*------------------------------------------------------------------
[Table of contents]
1.  Styles for devices max 1200px
2.  
3.  
4.  
5.  
6.  
7.  
8.  
9.  
10. 

------------------------*/

/*----------------
[Styles for devices min 1200px
*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*----------------
[Styles for devices max 1024px
*/
@media (max-width: 1024px) {
  .block-search .input-serach {
    width: 56%;
  }
  .block-search .select-choice {
    width: 44%;
  }
  .block-info i {
    font-size: 35px;
  }
  .block-info .hotline p span.title, .block-info .email p span.title {
    margin-bottom: 0;
  }
  .block-info .hotline p span.info, .block-info .email p span.info {
    font-size: 11px;
  }
  .nav-menu>li>a {
    min-width: 100px;
  }
  .block-members .owl-prev {
    left: -20px;
  }
  .block-members .owl-next {
    right: -20px;
  }
}

/*----------------
[Styles for devices max 991px
*/
@media (max-width: 991px) {
  .container {
    width: auto;
  }
  .block-info i {
    font-size: 35px;
  }
  .block-info .hotline p span.title, .block-info .email p span.title {
    margin-bottom: 0;
  }
  .block-info .hotline p span.info, .block-info .email p span.info {
    font-size: 11px;
  }
}

/*----------------
[Styles for devices max 899px
*/
@media all and (max-width: 899px) {
  #closefbchat{display:none}
}

/*----------------
[Styles for devices max 800px
*/
@media (max-width: 800px) {
  .block-logo, .block-info {
    width: 100%;
  }
  .block-logo img {
    margin: 0 auto;
  }
  body.menu-open {
    overflow: hidden;
    left: 0;
    right: 0;
  }
  .nav-toogle {
    display: block;
  }
  .navbar-toggle i {
    font-size: 30px;
    color: #fff;
    position: relative;
  }
  .menu {
    background-color: #ff781e;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    clear: both;
    float: none;
    display: block;
    position: fixed !important;
    left: -85% !important;
    width: 85%;
    top: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    right: auto !important;
  }
  .menu.has-open {
    left: 0 !important;
  }
  .menu-top .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-top {
    padding: 10px;
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow-y: auto !important;
    /*border-bottom: none;*/
  }
  .nav-menu>li {
    width: 100%;
  }
  .nav-menu>li>a {
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.34);
  }
  .nav-menu > li.parent > a:after {
    display: none;
  }
  .nav-menu li.parent .plus {
    color: #fff;
    height: 40px;
    border-left: 1px solid rgba(238, 238, 238, 0.1);
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 9;
    cursor: pointer;
    background: #ff781e;
  }
  .nav-menu li.parent .plus:before {
    content: "\f067";
    font-family: 'FontAwesome';
  }
  .nav-menu li.parent .plus.open:before {
    content: "\f068";
  }
  .nav-menu .submenu {
    background: #ff6600;
    box-shadow: none;
    display: none;
    left: 0px;
    top: -10px;
    opacity: 1;
    position: relative;
    visibility: visible;
    width: 100%;
    border-left: none;
  }
  .nav-menu .submenu .submenu {
    left: 0;
    top: -10px;
  }
  .nav-menu > li:hover > .submenu {
    top: -10px;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  .nav-menu .submenu li:hover .submenu {
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  .nav-menu .submenu li a {
    color: #fff;
  }
  .nav-menu .submenu .submenu li a {
    padding-left: 35px;
  }
  .nav-menu li > .submenu > li:hover, .nav-menu li > .submenu .submenu > li:hover {
    background: none;
  }
  .block-info .hotline,
  .block-info .email {
    width: 50%;
    float: left;
    padding: 0 15px;
  }
  .block-info .hotline {
    margin-right: 0;
    text-align: right;
  }
  .block-info i {
    float: none;
    display: inline-block;
  }
  .block-info .hotline p, .block-info .email p {
    float: none;
    display: inline-block;
  }
  .block-info .hotline p {
    text-align: left;
  }

  .block-intro {
    width: 100%;
    text-align: center;
  }

  .block-header-top {
    display: none;
  }
  .block-members .owl-prev {
    left: 0;
  }
  .block-members .owl-next {
    right: 0;
  }
  .search-mb {
    display: block !important;
  }
}

/*----------------
[Styles for devices max 768px
*/
@media (max-width: 768px) {
  .block-col-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .block-col-right {
    width: 100%;
  }
}

/*----------------
[Styles for devices max 767px
*/
@media (max-width: 767px) {
  .block-news .block-news-left,
  .block-news .block-news-right {
    width: 50%;
  }
  .block-number .list li {
    width: 50%;
  }
  .ft-link {
    margin-bottom: 20px;
  }
  .ft-link .item {
    margin-bottom: 20px;
  }
  .block-col-left {
    margin-bottom: 30px;
  }
  /*.block-news-sidebar {
    float: left;
    width: 50%;
  }*/
  .block-news-sidebar .thumb img {
    margin: 0 auto;
  }
  .block-news-sidebar .list .description h2 {
    text-align: center;
  }
  .block-service .row:last-child .item {
    margin-bottom: 40px;
  }
}

/*----------------
[Styles for devices max 600px
*/
@media (max-width: 600px) {
  .block-ct-news .item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  .block-ct-news .thumb {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .block-ct-news .thumb img {
    margin: 0 auto;
  }
  .block-ct-news .des {
    width: calc(100% - 0px);
    text-align: center;
  }
  .block-ct-news .des a {
    margin-bottom: 5px;
  }
  .block-ct-news .des .date-post {
    margin-bottom: 5px;
  }
}

/*----------------
[Styles for devices max 480px
*/
@media (max-width: 480px) {
  .block-header-bottom {
    padding: 20px 0;
  }
  .block-logo {
    margin-bottom: 15px;
  }
  .block-info .hotline,
  .block-info .email {
    border: 1px solid #bbb;
    position: relative;
    margin: 0 10px;
    width: 45%;
    padding: 25px 15px 10px;
    text-align: center;
  }
  .block-info i {
    margin-right: 0;
  }
  .block-info i.fa-phone {
    padding-top: 0;
  }
  .block-info i {
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .block-info .hotline p,
  .block-info .email p {
    text-align: center;
  }
  .block-number .list li {
    width: 100%;
    margin-bottom: 20px;
  }
  .block-number .list li:last-child {
    margin-bottom: 0;
  }
  .footer-bot p {
    text-align: left;
  }
  .block-news .block-news-left, .block-news .block-news-right {
    width: 100%;
  }
  .block-news .block-news-left {
    margin-bottom: 20px;
  }
  .block-search .input-serach {
    width: 48%;
  }
}

/*----------------
[Styles for devices max 375px
*/
@media (max-width: 414px) {
  .block-info .hotline, .block-info .email {
    margin: 0;
    width: 100%;
  }
  .block-info .hotline {
    margin-bottom: 25px;
  }
}

/*----------------
[Styles for devices max 375px
*/
@media (max-width: 375px) {
  .nav-menu .submenu li a {
    padding-left: 10px;
  }
  .nav-menu .submenu .submenu li a {
    padding-left: 15px;
  }
  .block-info .hotline {
    margin-bottom: 25px;
  }
  .block-ct-pro .col-xs-6 {
    width: 100%;
  }
  .block-search .select-choice {
    width: auto;
  }
  .block-search .form-category {
    display: none;
  }
  .block-search .input-serach {
    width: 86%;
  }
}