@charset "utf-8";
/**
   * Description: CSS
   * Version: 1.0.0
   * Last update: 2017/08/20
   * Author: Duc PM <minhducpham.it@gmail.com>
   *
   * Summary:
   *
   *  0. ELEMENT
   *    - 0.1. TYPE ELEMENT
   *    - 0.2. TYPE ELEMENT
   *  1. ELEMENT
   *    - 1.1. TYPE ELEMENT
   *    - 1.2. TYPE ELEMENT
   */

/* Import Files
  ========================================================================== */
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/font-awesome/font-awesome.min.css);
@import url(../lib/carousel/owl.carousel.min.css);

/* Layout Style
  ========================================================================== */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #414141;
  font: 13px Tahoma, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  word-break: break-word;
  line-height: 1.5;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000000;
  outline: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover,
a:focus {
  color: #999999;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
p { margin: 0; }
select:focus, button:focus, input:focus { outline: none; }
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
  outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.clearfix { clear: both; }

/* Button
  ========================================================================== */
.btn {
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn-1e:after, .btn-2e:after, .btn-3e:after, .btn-4e:after, .btn-5e:after, .btn-6e:after, .btn-7e:after, .btn-8e:after, .btn-9e:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-1e:hover:after, .btn-2e:hover:after, .btn-3e:hover:after, .btn-4e:hover:after, .btn-5e:hover:after, .btn-6e:hover:after, .btn-7e:hover:after, .btn-8e:hover:after, .btn-9e:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn-1e {
  color: #333;
  z-index: 2;
}
.btn-1e:after {
  background: #ffde00;
}
.btn-1e:hover, .btn-1e:active {
  color: #000;
}

/* Commom
  ========================================================================== */
.block {
  margin-bottom: 40px;
  position: relative;
  display: block;
}
.block-breadcrumb .breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0;
  margin-top: 20px;
}
.block-breadcrumb .breadcrumb li a {
  color: #333333;
}
.block-breadcrumb .breadcrumb li.active {
  color: #ff6600;
}
.block-breadcrumb .breadcrumb>li+li:before {
  padding: 0 5px;
  color: #333333;
  font-family: "FontAwesome";
  content: "\f178";
}
.block-title .box-title {
  margin: 0;
  position: relative;
}
.block-title .sub-title {
  text-align: center;
  padding: 0 75px;
}
.block-tl-stl1 .box-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 40px;
}
.block-title .box-title::before,
.block-title .box-title::after {
  position: absolute;
  bottom: -15px;
  left: 0;
}
.block-title .box-title::after {
  left: 105px;
}
.block-title .box-title::before {
  display: block;
  content: '';
  width: 100px;
  height: 2px;
  background-color: #333333;
}
.block-title .box-title::after {
  display: block;
  content: '';
  width: 100px;
  height: 2px;
  background-color: #ffde00;
}
.block-tl-stl2 {
  text-align: center;
}
.block-title.block-tl-stl2 .box-title::before,
.block-title.block-tl-stl2 .box-title::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}
.block-title.block-tl-stl2 .box-title::before {
  left: -105px;
}
.block-title.block-tl-stl2 .box-title::after {
  right: -105px;
}

/* Header
  ========================================================================== */
header {
  
}